
<div class="card">

   <div class="card card-header bg-primary">
      <h3 class="card-title text-white">
         <i class="far fa-login"></i> Ingresa y empieza a crear, o asistir a eventos!

      </h3>
   </div>

   <div class="card-body">
      <form action="/" method="POST" enctype="multipart/form-data">
         <!-- SE ENVIARÁ TAMBIEN UN ARCHIVO PESADO -->


         <div class="form-group">
            <input type="text" name="mail" class="form-control" placeholder="Ingresa su correo electronico" required>
         </div>

         <div class="form-group">
            <input name="pass" placeholder="Ingresa tu contraseña!" class="form-control" required></input>
         </div>

         <div class="form-group">
            <button class="btn btn-primary">
               <i class="fa fa-upload"></i> Todo MEELO!
            </button>
         </div>


      </form>

   </div>

</div>

<div class="card">

   <div class="card mb-3 bg-primary">
      <h3 class="card-header text-white">Bienvenido!</h3>
      <div class="card-body">
         <h5 class="card-title text-white">¿Que es MEELO?</h5>
         <h6 class="card-subtitle text-white">¡Mira nuestro video y conocenos!</h6>
      </div>
      <iframe width="560" height="315" src="https://www.youtube.com/watch?v=y8t3yIZ18p4&t=1s"
         allowfullscreen></iframe>


      <div class="card-body">

      </div>
   </div>
</div>

